@import url('https://fonts.googleapis.com/css?family=Lobster|Rubik:400,700');

/* This is the normalize fix */
html{line-height:1.15;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%}body{margin:0}article,aside,footer,header,nav,section{display:block}h1{font-size:2em;margin:.67em 0}figcaption,figure,main{display:block}figure{margin:1em 40px}hr{box-sizing:content-box;height:0;overflow:visible}pre{font-family:monospace,monospace;font-size:1em}a{background-color:transparent;-webkit-text-decoration-skip:objects}abbr[title]{border-bottom:none;text-decoration:underline;text-decoration:underline dotted}b,strong{font-weight:inherit}b,strong{font-weight:bolder}code,kbd,samp{font-family:monospace,monospace;font-size:1em}dfn{font-style:italic}mark{background-color:#ff0;color:#000}small{font-size:80%}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline}sub{bottom:-.25em}sup{top:-.5em}audio,video{display:inline-block}audio:not([controls]){display:none;height:0}img{border-style:none}svg:not(:root){overflow:hidden}button,input,optgroup,select,textarea{font-family:sans-serif;font-size:100%;line-height:1.15;margin:0}button,input{overflow:visible}button,select{text-transform:none}button,html [type=button],[type=reset],[type=submit]{-webkit-appearance:button}button::-moz-focus-inner,[type=button]::-moz-focus-inner,[type=reset]::-moz-focus-inner,[type=submit]::-moz-focus-inner{border-style:none;padding:0}button:-moz-focusring,[type=button]:-moz-focusring,[type=reset]:-moz-focusring,[type=submit]:-moz-focusring{outline:1px dotted ButtonText}fieldset{padding:.35em .75em .625em}legend{box-sizing:border-box;color:inherit;display:table;max-width:100%;padding:0;white-space:normal}progress{display:inline-block;vertical-align:baseline}textarea{overflow:auto}[type=checkbox],[type=radio]{box-sizing:border-box;padding:0}[type=number]::-webkit-inner-spin-button,[type=number]::-webkit-outer-spin-button{height:auto}[type=search]{-webkit-appearance:textfield;outline-offset:-2px}[type=search]::-webkit-search-cancel-button,[type=search]::-webkit-search-decoration{-webkit-appearance:none}::-webkit-file-upload-button{-webkit-appearance:button;font:inherit}details,menu{display:block}summary{display:list-item}canvas{display:inline-block}template{display:none}[hidden]{display:none}
/* This is the borderbox fix */
* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }
/* This is the clearfix fix */
.clearfix:after {visibility: hidden; display: block; font-size: 0; content: " "; clear: both; height: 0; }

/* Main Styles */

body {
  font-family: 'Lobster', cursive;
  font-family: 'Rubik', sans-serif;
  font-size: 62.5%;
}

h1 {
  font-family: 'Lobster', cursive;
  margin: 0;
  padding: 30px 0 15px 0;
  font-size: 2.25rem;
}

h2 {
  font-size: 2rem;
  font-family: 'Rubik', sans-serif;
  font-weight: 700;
  padding: 0 4%;
  margin: 0;
}

/* Body Styles */

.App {
  text-align: center;
  background-color: gold;
  margin: 0;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.headerComponent {
  flex-shrink: 0;
  background-color: rgb(255,165,0,0.5);
}

.formArea {
  flex: 1 0 auto;
  min-height: 250px;
}

.mainCardUnclicked {
  min-height: 250px;
}

.mainCard {
  background-color: rgb(255,165,0,0.5);
  box-shadow:5px 5px rgba(255,99,71,0.55);
  border-radius: 10px;
  padding: 25px 0 0 0;
  margin: 25px 35px 0 35px;
}

.mainButton {
  font-size: 1.5rem;
  font-weight: 700;
  display: inline-block;
  padding: 20px;
  margin: 10% 15%;
  background-color: orange;
  border-radius: 50px;
  cursor: pointer;
  transition: background-color 0.15s ease-in;
}

.mainButton:hover {
  background-color: darkorange;
}

.mainButton:active {
  background-color: rgba(178,34,34,0.5);
}

.restaurantReviews {
  margin: 30px 0 0 0;
  border-top: 2px solid rgb(255,165,0,1);
}

.ratingScore p {
  text-transform: uppercase;
  letter-spacing: 0.5px;
  font-weight: 700;
  font-size: 0.75rem;
}

.subDetails p {
  font-size: 0.75rem;
  padding: 0 5%;
  line-height: 1.25px;
}

.restaurantReviews p {
  line-height: 30px;
  font-size: 1.5rem;
  margin: 0;
  padding: 30px 20px;
}

.restaurantMenu {
  font-size: 1rem;
  border-top: 2px solid rgb(255,165,0,1);
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  padding: 25px;
  margin: 0;
  text-decoration: none;
}

.restaurantMenu a {
  text-decoration: none;
  font-size: 1.25rem;
  font-weight: 700;
  color: mediumvioletred;
}

.loadingVenues h1 {
  font-size: 4rem;
  margin: 50px 0 0 0;
}

.loadingVenues p {
  padding: 0 50px 20px 50px;
  font-size: 2rem;
  color: rgba(0,0,0,0.15);
  flex: 1 0 auto;
  margin: 0;
}

/* Foter Styles */

.footerComponent {
  display: block;
  background-color: rgb(255,165,0,0.5);
  padding: 10px;
  font-size: 0.5rem;
  height: 50px;
  flex-shrink: 0;
  /* margin-top: -150px; */
}

.footerComponent p {
  font-size: 0.75rem;
}

/* Mobile */

@media (max-width: 560px) {

  h1 {
    padding: 30px 0 15px 0;
    font-size: 1.25rem;
  }

  h2 {
    padding: 10px 5px 5px 5px;
    font-size: 1.25rem;
  }

  .mainCard {
    padding: 5px 0 0 0;
    margin: 25px 35px 0 35px;
}

.ratingScore p {
  text-transform: uppercase;
  letter-spacing: 0.5px;
  font-weight: 400;
  font-size: 0.75rem;
}

.subDetails p {
  font-size: 0.85rem;
  padding: 0 5%;
  line-height: 1rem;
}

  .loadingVenues h1 {
    font-size: 2rem;
    margin: 50px 0 0 0;
  }

  .loadingVenues p {
    font-size: 1rem;
  }

  .mainButton {
    font-size: 1rem;
    font-weight: 700;
    display: inline-block;
    padding: 20px;
    margin: 10% 15%;
    background-color: orange;
    border-radius: 50px;
    cursor: pointer;
    transition: background-color 0.15s ease-in;
  }

  .restaurantReviews {
    margin: 0
  }

  .restaurantReviews p {
    line-height: 20px;
    font-size: 1rem;
    margin: 0;
    padding: 10px 20px;
  }

  .restaurantMenu {
    padding: 10px;
  }

  .restaurantMenu a {
    text-decoration: none;
    font-size: 1rem;
    font-weight: 700;
    color: mediumvioletred;
  }

  .footerComponent p {
    font-size: 0.25rem;
  }
}